
body {
    background-image: url(images/kalas.jpg);
    background-repeat: no-repeat;
    background-size: 1600px 900px;
    margin: 0px;
 }
  nav ul {
    text-align: center;
  }
  nav ul li {
    display: inline-block;
  }
  nav ul li a {
    padding: 30px;
    font-family: Palermo, "Times New Roman";
    color: black;
    font-size: 20px;
    text-decoration: none;
    display: block;
    text-shadow: 2px 2px 3px lightgrey;
  }
  nav ul li a:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1), inset 0 0 1px rgba(255, 255, 255, 0.6);
    background: rgba(255, 255, 255, 0.1);
  }
    .first {
    position: absolute;
    top: 160px;
    left: 400px;
    font-style: italic;
    color: white;
    font-size: 100px;
    text-shadow: 3px 3px 3px lightgrey;
  }
  .second{
    position: absolute;
    top: 240px;
    left: 750px;
    font-style: italic;
    color: white;
    font-size: 100px;
    text-shadow: 2px 2px 3px lightgrey;
  }
  #logo img{
    position: relative;
    margin-top: 20px;
    margin-left: 25px;
    height: 90px;
    bottom: 8em;
  }