body {
    background-color: #ffeeec;
}

.logo{
    position: absolute;
    margin-top: -10px;
    margin-left: 0px;
    height: 90px;
}

.grid {
    width: 820px;
    height: 400px;
    border: 1px solid black;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -200px;
    margin-left: -410px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 2fr 1fr;
}

@media screen and (max-width: 600px) {
    .grid {
        grid-template-columns: 1fr;
    }
}

@media screen and (max-width: 800px) {
    nav ul li {
        margin-top: 70px;
    }
}

.grid img{
    grid-column-start: 1; 
    grid-column-end: 1; 
    grid-row-start: 1; 
    grid-row-end: 2;
    box-shadow: 3px 3px #daaaaa70;
    width: 400px;
    border: 1px solid black;
}

.grid > div > .text1 {
    margin-left: 5%;
    font-size: 2em;
    color: #5e554c;
    font-family: Palatino, "Times New Roman";
    border: 1px solid black;
}

.grid > div > .text2 {
    margin-left: 5%;
    font-size: 1em;
    color: #5e554c;
    font-family: Palatino, "Times New Roman";
    border: 1px solid black;
}

.grid > div > .bokaKnapp {
    background-color: #ffdcdc;
    color: #da9fa9;
    font-size: 1.2em;
    text-align: center;
    margin-top: 25%;
    margin-left: 5%;
    width: 150px;
    height: 50px;
    box-shadow: 2px 2px #daaaaa70;
    line-height: 50px;
    border: 1px solid black;
}

.grid > div > .bokaKnapp:hover {
    color: palevioletred;
}

nav ul {
    text-align: right;
}

nav ul li {
    display: inline-block;
}

nav ul li a {
    padding: 30px;
    font-family: Palatino, "Times New Roman";
    color: #5e554c;
    font-size: 20px;
    text-decoration: none;
    display: block;
    text-shadow: 2px 2px 3px lightgrey;
}

nav ul li a:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1), inset 0 0 1px rgba(255, 255, 255, 0.6);
    background: rgba(255, 255, 255, 0.1);
}