body {
    background-color: #ffeeec;
    height: 100%;
    width: 100%;
}

.logo{
    position: absolute;
    margin-top: -10px;
    margin-left: 0px;
    height: 90px;
}

.grid {
    width: 800px;
    height: 403px;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 2fr 1fr;
    column-gap: 3%;
    
}

@media screen and (max-width: 800px) {
    .grid {
        grid-template-columns: 1fr;
        grid-template-rows: 2fr 1fr 1fr;
        margin-left: auto;
        margin-right: auto;
    }
}


@media screen and (max-width: 800px) {
    nav ul li {
        margin-top: 70px;
    }
}

.grid > img{
    grid-column: 1 / 1;
    box-shadow: 3px 3px #daaaaa70;
    width: 400px;
}

.grid > div > .text1 {
    margin-top: 0;
    margin-bottom:0;
    font-size: 2.5em;
    color: #5e554c;
    font-family: "Amatic SC";
}

.grid > div > .text2 {
    margin-top: 2%;
    margin-bottom:0;
    font-size: 1.5em;
    color: #5e554c;
    font-family: "Amatic SC";
}

.grid > div > .bokaKnapp {
    border: 2px solid #daaaaa70;
    background-color: #daaaaa70;
    color: #5e554c;
    font-size: 1em;
    text-align: center;
    margin-top: 25%;
    margin-left: 5%;
    width: 150px;
    height: 50px;
    line-height: 50px;
    text-decoration: none;
    border-radius: 4%;
}

.grid > div > .bokaKnapp > a:visited {
    color: #5e554c;
    text-decoration: none;
}

.grid > div > .bokaKnapp > a {
    color: #5e554c;
    text-decoration: none;
}

.grid > div > .bokaKnapp:hover {
    background-color: #e2939370;
    color: #ffeeec;
    text-decoration: none;
}

nav ul {
    text-align: right;
}

nav ul li {
    display: inline-block;
}

nav ul li a {
    padding: 30px;
    font-family: "Amatic SC";
    color: #5e554c;
    font-size: 30px;
    text-decoration: none;
    display: block;
    text-shadow: 2px 2px 3px lightgrey;
}

nav ul li a:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1), inset 0 0 1px rgba(255, 255, 255, 0.6);
    background: rgba(255, 255, 255, 0.1);
}