body {
  background: #ffeeec;
}
ul {
   text-align: right;
 }
  ul li {
   display: inline-block;
 }
  ul li a {
   padding: 10px;
   font-family: "Roboto";
   color: black;
   font-size: 1em;
   text-decoration: none;
   display: block;
 }
  ul li a:hover {
   box-shadow: 0 0 10px rgba(0, 0, 0, 0.1),
   inset 0 0 1px rgba(255, 255, 255, 0.6);
   background: rgba(255, 255, 255, 0.1);
 }

header, main, footer {
	border: 2px solid gray;
	margin: 2px;
	padding: 0.2em;
}
.container {
	font-size: 1.0em;
	display: grid;
	grid-template-rows: 5em 1fr 5em;
	/*height: 90vh;*/
}

.container main {
	display: grid;
}
.article > div {
  border: 1px solid green;
}
.contact {
  display: grid;
  grid-template-rows: 3em 1fr;
  grid-gap: 20px;
}
h1 {
  text-align: center;
}
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  main {
    grid-template-rows: 30em 1fr;
    grid-template-columns: 1fr;
    
    
  }
  .article {
     display: grid;
     grid-template-rows: 3em 1fr 1fr 1fr 1fr;
     grid-gap: 10px;
  }
  
  
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  main {
    grid-template-rows: 30em 1fr;
    grid-template-columns: 1fr;
    
  }
  .article {
    display: grid;
    grid-template-rows: 3em 1fr;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
  }
  .header1 {
    grid-column: 1/3;
  }
}


/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 768px) {
  main {
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr;
    
  }
  .article {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .header1 {
    grid-column: 1/3;
  }
  
} 

button {
	font-size: 1.2em;
	padding: 0.4em 0.8em;
	margin: 0.2em;
	
}
@media (pointer: fine) {
	button {
		font-size: 1.1em;
		padding: 0.2em 0.4em;
		background-color: red;
  }
}
 @media (pointer: coarse){
	button {
		font-size: 1.3em;
		padding: 0.3em 0.5em;
		background-color: blue;
	}
}
.container main > * {
	border: 1px solid lightgray;
  padding: 2px;
   margin: 2px;	
}

img {
  width: 100%;
  height: 100%;
}


.header img {
  display: flex;
  float: left;
  width: 40%;
  height: 100%;
}
  .box{
        position: relative;
        display: inline-block; /* Make the width of box same as image */
        width: 100%;
       
  }
    .box .text{
        position: absolute;
        z-index: 999;
        margin: 0 auto;
        left: 0;
        right: 0;
        top: 40%; /* Adjust this value to move the positioned div up and down */
        text-align: center;
        width: 100%; /* Set the width of the positioned div */
        opacity: 0.6;
    }
  
  .fade-in {
	opacity: 1.0;
	
}
.fade-in:hover > img {
	opacity: 0.2;
}

